.fondo__principal {
    background-image: url(../Imagenes/Portada.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
}

.fondo__menu {
    font-size: 20px;
    background: rgb(242, 135, 5);
    background: linear-gradient(90deg, rgba(242, 135, 5, 1) 1%, rgba(217, 61, 4, 1) 52%, rgba(242, 135, 5, 1) 98%);
}


.fondo__contacto {
    font-size: 20px;
    background: rgb(242, 135, 5);
    background: linear-gradient(90deg, rgba(242, 135, 5, 1) 1%, rgba(217, 61, 4, 1) 52%, rgba(242, 135, 5, 1) 98%);
}


.fondo__delivery {
    font-size: 20px;
    background: rgb(242, 135, 5);
    background: linear-gradient(90deg, rgba(242, 135, 5, 1) 1%, rgba(217, 61, 4, 1) 52%, rgba(242, 135, 5, 1) 98%);
}

.fondo__nosotros {
    font-size: 20px;
    background: rgb(242, 135, 5);
    background: linear-gradient(90deg, rgba(242, 135, 5, 1) 1%, rgba(217, 61, 4, 1) 52%, rgba(242, 135, 5, 1) 98%);
}