h1 {
    border: black 5px;
    color: #590202;
    font-size: 150px;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.titulo {
    margin-left: 200px;
    margin-right: 200px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: white;
}

h4 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.titulo__contacto {
    font-family: 'Oswald', sans-serif;

    color: white;
}